<div class='star-btn'>
  <%= link_to item_favorites_path(item), method: :post do %>
  <%= image_tag "star.png", class:"star-icon" %>
  <span class='star-count'><%= item.favorites.length %></span>
  <% end %>
</div>