<%= link_to item_favorites_path(item), method: :post, remote: true do %>
<%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
<span class="star-count">お気に入り <%= item.favorites.length %></span>
<% end %>