<%= link_to "#", class:"favor-star", id: "favor-star#{item.id}", method: :post, remote: true do %>
<%= image_tag "star.png", class:"star-icon" %>
<span class='star-count' id="star-count-<%= item.id %>"><%= item.favorites.length %></span>
<% end %>